blog/__pycache__/
blog/*.pyc
blog/migrations/__pycache__/
blog/migrations/*.pyc
mysite/__pycache__/
mysite/*.pyc
personal/__pycache__/
personal/*.pyc
personal/migrations/__pycache__/
personal/migrations/*.pyc
polls/__pycache__/
polls/*.pyc
polls/migrations/__pycache__/
polls/migrations/*.pyc
webapp/__pycache__/
webapp/*.pyc
webapp/migrations/__pycache__/
webapp/migrations/*.pyc
